*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    max-width: 1050px; 
    width:100% ;
    margin: 0 auto;
    padding:0 15px ;

}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}
    
.header{
padding-top: 30px;
}
.header__link{
    gap: 20px;
    display: flex;
    text-decoration: none;
    color: black;
}
.header__menu{
    display: flex;
gap: 30px;
}
.header__burger{
    width: 40px;

    display: none;
}



.hero {
}
.container {
}
.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.hero__text{
max-width:430px ;
    padding-top: 25px;
    color: #272D38;
padding-bottom: 40px;
}
.hero__title{
    color: #272D38;

/* H1 - Main Heading */

font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 64px */
text-transform: capitalize;
}
.hero__box {

}
.hero__btn {
    background-color: #979dd1;
    color: #ffffff;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 27.5px; /* 171.875% */
text-transform: uppercase;
border: none;
border-radius: 8px;
padding: 10px;
}
.hero__img {
    margin-top: 60px;
}

.Socials {
}
.container {
}
.Socials__text{
    text-align: center;
    margin-top: 50px;
    padding-bottom:20px ;
}
.Socials__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
 background-color: bisque;
 padding:10px 10px ;

}
.Socials__img {

}








































































@media (max-width:900px) {
    .header__burger{
        display: block;
    }
}





@media (max-width:700px) {
    .hero__wrapper{
        flex-direction: column;
        text-align: center  ;
        padding-top: 50px;
    }
    .hero__text{
        margin: 0 auto;
    }
    .hero__title{
        font-size: 40px;
    }
}





@media (max-width:500px) {
 .header__menu{
    display: none;
 }   
 .header__burger{
    display: block;
 }

}






@media (max-width:650px) {
    .Socials__wrapper{
        flex-direction: column;
    }
}